---
import FeaturedArticle from "../components/FeaturedArticle.astro";
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
const title = "Home";
---

<PrimaryLayout title={title}>
  <div class="three-columns">
    <FeaturedArticle class="span-2"/>
    <div class="inverted">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nulla blanditiis tempore illo autem dolorem officiis nemo saepe reprehenderit doloribus, aut dolores quod hic neque unde eum vero in facere!</p>
    </div>
  </div>
</PrimaryLayout>
